<div class="relative z-10">
  <app-loading [isLoading]="isLoading" [info]="step | loadingText"></app-loading>

  <div class="grid grid-cols-1 pl-8 pb-8">
    <div class="header">
      <p class="header__title">
        <mat-icon class="header__icon mr-3">chevron_left</mat-icon>
        <span class="font-bold">{{ step | headerText:1 }}</span>
        <span class="font-semibold">{{ step | headerText:2 }}</span>
      </p>
      <small class="header__subtitle pl-8 pt-2">{{ step | headerText:3 }}</small>
    </div>
  </div>

  <div class="grid gap-x-8 gap-y-8 md:grid-cols-2 sm:grid-cols-1 justify-items-center body">
    <div class="body__image shrink-0">
      <app-image-info ></app-image-info>
    </div>
    <div class="body__list body__list--mt md:place-self-start !sm:mt-12">
      <app-list-pokemon></app-list-pokemon>
    </div>
  </div>
</div>
