@import './variables.scss';

html, body { height: 100%; }
body { margin: 0; font-family: 'Poppins', sans-serif; }

.nav .nav__logo{
  width: 10%;
}

.custom-flat-button:not(:disabled) {
  background-color: $button-primary !important;
  color: white !important;

}

.scrollable-div {
  height: 748px;
  overflow: auto; // activa scroll si el contenido se desborda
}

.header{
  padding: 4.8rem 0rem 3rem 3rem;

  &__title--black{
    font-size: 36px!important;
    color: $text-black !important;
  }

  &__icon{
    font-size: $fontsize-titulo;
  }

  &__button{
    font-weight: $font-w6;
    font-size: $fontsize-sm;
    border-radius: 10px !important;
    border: 1px solid $button-primary !important;
    color: $button-primary!important;
    height: 30px!important;
  }
}


.body {
  padding-bottom: 80px;

  &__image{
    width: 392px;
    height: 600px;
    background-color: $secondary-color;
    border-radius: 50px;
  }

  &__form{
    width: 352px;
  }
}

.body__image{
  &__titulo{
    font-size: $fontsize-titulo;
  }

  &__titulo--gray{
    font-size: 24px;
    color: $text-gray;
  }

  &__titulo--blue{
    font-size: 35px;
    color: $primary-color;
  }

  &__foto, &__icon{
    width: 269px;
    height: 269px;
    border: 14px solid $base-color;
    background-color: $hover-color;
  }

  &__icon>img{
    width: 100px;
    height: 100px;
  }

  &__upload{
    border-color: $text-blue;
    color: $text-blue;
    background-color: $base-color;
    padding: 18px;
    font-size: $fontsize-info;
  }

  &__info{
    color: $text-gray;
    font-size: 24px;
  }

}

.body__list, .body__form, .header{
  &__title{
    @include titulo();
  }
  &__subtitle{
    @include subtitulo();
  }
}

.body__list, .body__form{
  &__button{
    @include button();
   }
}



